h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.column,
.columns {
  width: 100%;
}